CFBPoll_old
.vs/
packages/
*/bin/
*/obj/

CFBPoll/appsettings-private.json
CFBPoll/PollOutput/
CFBPoll/Resources/RankHistory/

CFBPoll.DB/Poll/Queries/
CFBPoll.DB/*.dbmdl
CFBPoll.DB/*.jfm

CFBPoll.System/Modules/Default/DefaultRatingModule.cs
CFBPoll.System/Modules/Default/DefaultPredictionModule.cs
CFBPoll.System/Modules/Test/TestRatingModule.cs

*.user