CFBPoll_old
.vs/
packages/
CFBPoll/bin/
CFBPoll/Calculations/Modules/PredictionModule.cs
CFBPoll/Calculations/Modules/RatingModule.cs
CFBPoll/obj/
CFBPoll/PollOutput/
CFBPoll/Resources/RankHistory
CFBPollDTOs/obj/
CFBPollDTOs/bin/