<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="StatsPath" value="C:\Users\Taylor\Documents\GitHub\CFBPollNew\rsc\stats\"/>
        <add key="ScoresPath" value="C:\Users\Taylor\Documents\GitHub\CFBPollNew\rsc\scores\"/>
        <add key="TeamsPath" value="C:\Users\Taylor\Documents\GitHub\CFBPollNew\rsc\teams\"/>
        <add key="FilesPath" value="C:\Users\Taylor\Documents\GitHub\CFBPollNew\rsc\scores\"/>
        <add key="PollOutputPath" value="C:\Users\Taylor\Documents\GitHub\CFBPollNew\PollPrinterOutput.csv"/>
    </appSettings>
</configuration>