<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="StatsPath" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\Resources\Stats\"/>
        <add key="ScoresPath" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\Resources\Scores\"/>
        <add key="TeamsPath" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\Resources\Teams\"/>
        <add key="FilesPath" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\Resources\Scores\"/>
        <add key="PollOutputPath_csv" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\PollOutput\PollPrinterOutput.csv"/>
        <add key="PollOutputPath_txt" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\PollOutput\PollPrinterOutput.txt"/>
        <add key="PollPredictionsPath_csv" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\PollOutput\PollPredictionsOutput.csv"/>
        <add key="PollPredictionsPath_txt" value="C:\Users\Taylor\Documents\GitHub\CFBPoll\CFBPoll\PollOutput\PollPredictionsOutput.txt"/>
    </appSettings>
</configuration>