@model CFBPollUI.ViewModels.Poll.SelectionsViewModel
@{
    var request = Context.Request;
    var baseUrl = $"{request.Scheme}://{request.Host}{request.PathBase}";
}

<div class="text-left">
    <div id="selections">
        <table>
            <tr>
                <td>
                    @Html.Label("Season:")
                </td>
                <td>
                    @Html.DropDownListFor(s => s.SelectedSeason, Model.Seasons, "Select Season", new { id = "ddlSeasons", onchange = "FillWeeks()", @class="selectDropdown" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Week:")
                </td>
                <td>
                    @Html.DropDownListFor(w => w.SelectedWeek, Model.Weeks, "Select Week", new { id = "ddlWeeks", onchange = "FillRatingsGrid()", @class="selectDropdown" })
                </td>
            </tr>
        </table>
    </div>
</div>