@model CFBPollUI.ViewModels.Poll.CFBPollViewModel
@{
    ViewData["Title"] = "Poll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var request = Context.Request;
    var baseUrl = $"{request.Scheme}://{request.Host}{request.PathBase}";
}

<html>
    <head>
        <script src="@(baseUrl)/js/pollfunctions/pollfunctions.js"></script>
        <link rel="stylesheet" href="~/css/poll/poll.css"/>
    </head>
    <body>
        <div id="selectionsPartial">
            @await Html.PartialAsync("_SelectionsPartial", Model.Selections)
        </div>
        <div id="ratingsPartial">
            @await Html.PartialAsync("_RatingsPartial", Model.Ratings)
        </div>
    </body>
</html>